# << Ansible managed file >>
# {{strongswan_config_file}} - strongSwan IPsec configuration file

config setup
{% for k,v in strongswan_config_setup.items() %}
	{{k}}={{v}}
{% endfor %}

conn %default
{% for k,v in strongswan_conn_default.items() %}
	{{k}}={{v}}
{% endfor %}

{% for conn,conn_settings in strongswan_conns.items() %}
conn {{conn}}
{%   for k,v in conn_settings.items() %}
	{{k}}={{v}}
{%   endfor %}

{% endfor %}

