# << Ansible managed file >>
# {{ strongswan_config_file }} - strongSwan IPsec configuration file

config setup
{% for param in strongswan_config_setup|dict2items %}
	{{ param.key }}={{ param.value }}
{% endfor %}

conn %default
{% for param in strongswan_conn_default|dict2items %}
	{{ param.key }}={{ param.value }}
{% endfor %}

{% for conn in strongswan_conns|dict2items %}
conn {{ conn.key }}
{%   for param in conn.value|dict2items %}
	{{ param.key }}={{ param.value }}
{%   endfor %}

{% endfor %}
