#!/bin/bash

set -o nounset
set -o errexit

IP=$(which ip)
IPTABLES=$(which iptables)
PLUTO_MARK_OUT_ARR=(${PLUTO_MARK_OUT//// })
PLUTO_MARK_IN_ARR=(${PLUTO_MARK_IN//// })


INT={{ strongswan_updown.out_int }}
VTI_IF="{{ strongswan_updown.vti_int }}"
VTI_NEXTHOP="{{ strongswan_updown.vti_nexthop }}"
VTI_LOCAL="{{ strongswan_updown.vti_local }}"
VTI_REMOTE="$VTI_NEXTHOP/31"


case "${PLUTO_VERB}" in
    up-client)
        $IP link add ${VTI_IF} type vti local ${PLUTO_ME} remote ${PLUTO_PEER} okey ${PLUTO_MARK_OUT_ARR[0]} ikey ${PLUTO_MARK_IN_ARR[0]}
        $IP addr add ${VTI_LOCAL} remote ${VTI_REMOTE} dev "${VTI_IF}"
        $IP link set ${VTI_IF} up mtu 1436
        sysctl -w net.ipv4.conf.${VTI_IF}.disable_policy=1
        sysctl -w net.ipv4.conf.${VTI_IF}.rp_filter=0
        sysctl -w net.ipv4.conf.${VTI_IF}.send_redirects=0
        $IPTABLES -t mangle -I FORWARD -o ${VTI_IF} -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
        $IPTABLES -t mangle -I INPUT -p esp -s ${PLUTO_PEER} -d ${PLUTO_ME} -j MARK --set-xmark ${PLUTO_MARK_IN}
        $IP route add 10.0.0.0/8 via $VTI_NEXTHOP
        $IP route add 172.18.0.0/15 via $VTI_NEXTHOP
        $IP route add 192.168.0.0/16 via $VTI_NEXTHOP
        $IP route flush table 220
        ;;
    down-client)
        $IP tunnel del "${VTI_IF}"
        $IPTABLES -t mangle -D FORWARD -o ${VTI_IF} -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
        $IPTABLES -t mangle -D INPUT -p esp -s ${PLUTO_PEER} -d ${PLUTO_ME} -j MARK --set-xmark ${PLUTO_MARK_IN}
        $IP route del 10.0.0.0/8 via $VTI_NEXTHOP
        $IP route del 172.18.0.0/15 via $VTI_NEXTHOP
        $IP route del 192.168.0.0/16 via $VTI_NEXTHOP
        ;;
esac


# Enable IPv4 forwarding
sysctl -w net.ipv4.ip_forward=1
sysctl -w net.ipv4.conf.$INT.disable_xfrm=1
sysctl -w net.ipv4.conf.$INT.disable_policy=1
sysctl -w net.ipv4.conf.$INT.send_redirects=0
sysctl -w net.ipv4.conf.$INT.rp_filter=0
